	
	
		<!-- HEADER -->
		
		<header class="container-fluid">
			
			<div class="row d-flex align-items-center p-3">
				
				<div class="col-4 text-right text-white" id="adminPart">
                    <a href="{{path('admin_dashboard')}}">
                        <p class="mb-0"><i class="fa fa-superpowers px-1">&nbsp;</i>Partie Administration</p>
                    </a>
				</div>
				<div class="col-2 text-center text-white" id="homepageReturn">
                    <a href="{{path('homepage')}}">
					    <p id="mail-header" class="mb-0 pl-5"><i class="fa fa-home">&nbsp;</i>Revenir sur la page d'accueil</p>
                    </a>
				</div>
				<div id="bloc-liens-header" class="col-6 text-center text-white">
					<p class="text-white mb-0 text-center">
					{% if app.user %}
						<i class="fa fa-trash"></i>&nbsp;<a href="{{path('account_logout')}}">Se déconnecter</a>
					{% else %}
						<i class="fa fa-sign-in"></i>&nbsp;<a href="{{path('account_login')}}">Se connecter</a> | <i class="fa fa-file-text-o"></i>&nbsp;<a href="{{path('account_register')}}">S'inscrire</a>
					{% endif %}	 | 
						<label for="select-language"><i class="fa fa-language"></i></label>
						<select name="language" id="select-language">
							<option value="Fr">Fr</option>
							<option value>En</option>
						</select>
					</p>
				</div>
				
			</div>			
			
		</header>

				<!-- LOGO -->
		
		<section id="logo">
			
			<figure>
                <a href="{{path('homepage')}}">
				    <img src="img/logo.png" alt="" class="pt-3">
                </a>
			</figure>
			
		</section>
		
		<!-- MENU1 -->
		
		<section id="menu1">
			
			<nav class="py-3 text-center d-flex justify-content-center align-items-center">
			
				
					<a href="index.html">
						<div>
							<div id="trait1" class="ml-3"></div>
							<p class="px-3">Tableau de bord</p>
							<div id="trait2"></div>
						</div>
					</a>
					<a href="">Réservations</a>
					<a href="{{path('admin_menus')}}">Nos Menus</a>
					<a href="">Nos commandes</a>
				
			</nav>
			
		</section>
		