{% extends 'admin/base.html.twig' %}

{% block title %}Vos menus{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Vos menus proposés</h1>
    <div class="container-fluid my-5">
        <div class="row">
        {% for menu in menus %}
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="../img/menus/{{menu.img}}" class="card-img-top" alt="{{menu.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{menu.title}}</h5>
                        <p class="card-text">{{menu.text}}</p>
                        <span class="badge badge-secondary">{{menu.price}} &euro;</span>
                        <span class="badge badge-primary {% if menu.availability == 1 %}bg-success{% else %}bg-danger{% endif %}">{% if menu.availability == 1 %}Disponible{% else %}Indisponible{% endif %}</span>
                        <a href="#" class="btn {% if menu.availability == 1 %}btn-primary{% else %}btn-secondary{% endif %} {% if menu.availability != 1 %}disabled{% endif %}" >{% if menu.availability != 1 %}<strike>{% endif %}Commander{% if menu.availability != 1 %}</strike>{% endif %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
