{% extends 'base.html.twig' %}

{% block title %}Nos menus{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Nos menus proposés</h1>
    {% for message in app.flashes('success') %}
        <div class="flash-notice text-center alert alert-success mt-3">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid my-5">
        <div class="row">
        {% for menu in menus %}
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="../img/menus/{{menu.img}}" class="card-img-top" alt="{{menu.title}}">
                    <div class="card-body d-flex flex-column justify-content center">
                        <h5 class="card-title">{{menu.title}}</h5>
                        <p class="card-text">{{menu.text}}</p>
                        <div class="row d-flex justify-content-between mb-4">
                            <div class="col-8">
                                <span class="badge badge-primary {% if menu.availability == 1 %}bg-success{% else %}bg-danger{% endif %}">{% if menu.availability == 1 %}Disponible{% else %}Indisponible{% endif %}</span>
                            </div>
                            <div class="col-3">
                                <span class="badge badge-secondary">{{menu.price}} &euro;</span>
                            </div>
                        </div>
                        <div class="dropdown d-flex flex-column justify-content-center align-items-center">
                            <button class="btn {% if menu.availability == 1 %}btn-primary{% else %}btn-secondary{% endif %} {% if menu.availability != 1 %}disabled{% endif %} dropdown-toggle" type="button" id="dropdownMenuButton{{menu.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if menu.availability != 1 %}<strike>{% endif %}Commander{% if menu.availability != 1 %}</strike>{% endif %}
                            </button>
                            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton{{menu.id}}">
                                <form method="POST" name="order-{{menu.title}}">    
                                    <label class="required" for="quantity">Quantité</label>
                                    <select id="order_quantity" name="quantity" class="form-control mb-2"><option value="1">1</option><option value="2">2</option><option value="3">3</option></select>
                                    <input type="hidden" name="title" value="{{menu.title}}">
                                    <input type="hidden" name="price" value="{{menu.price}}">
                                    <button type="submit" class="btn btn-dark text-white">Ajouter</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
