{% extends 'base.html.twig' %}

{% block title %}Nos menus{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Nos menus proposés</h1>
    {% for message in app.flashes('success') %}
        <div class="flash-notice text-center alert alert-success mt-3">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid my-5">
        <div class="row">
        {% for menu in menus %}
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="../img/menus/{{menu.img}}" class="card-img-top" alt="{{menu.title}}">
                    <div class="card-body d-flex flex-column justify-content center">
                        <h5 class="card-title">{{menu.title}}</h5>
                        <p class="card-text">{{menu.text}}</p>
                        <div class="row d-flex justify-content-between mb-4">
                            <div class="col-8">
                                <span class="badge badge-primary {% if menu.availability == 1 %}bg-success{% else %}bg-danger{% endif %}">{% if menu.availability == 1 %}Disponible{% else %}Indisponible{% endif %}</span>
                            </div>
                            <div class="col-3">
                                <span class="badge badge-secondary">{{menu.price}} &euro;</span>
                            </div>
                        </div>
                        <div class="dropdown d-flex flex-column justify-content-center align-items-center">
                            <button class="btn {% if menu.availability == 1 %}btn-primary{% else %}btn-secondary{% endif %} {% if menu.availability != 1 %}disabled{% endif %} dropdown-toggle" type="button" id="dropdownMenuButton{{menu.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if menu.availability != 1 %}<strike>{% endif %}Commander{% if menu.availability != 1 %}</strike>{% endif %}
                            </button>
                            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton{{menu.id}}">
                                <form method="POST" name="order-{{menu.title}}">    
                                    <label class="required" for="quantity">Quantité</label>
                                    <select id="order_quantity" name="quantity" class="form-control mb-2">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <input type="hidden" name="title" value="{{menu.title}}">
                                    <input type="hidden" name="price" value="{{menu.price}}">
                                    <button type="submit" class="btn btn-dark text-white">Ajouter</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown d-flex justify-content-center">
                        <button class="btn btn-secondary py-1" style="max-width:75%;font-size:75%;" type="button" id="dropdownCommentButton{{menu.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Faire&nbsp;un&nbsp;commentaire</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownCommentButton{{menu.id}}">
                            <form method="POST" class="p-3">
                                <textarea name="content" id="content" cols="30" rows="5" placeholder="Votre commentaire..." class="mb-2"></textarea>
                                <label for="rating">Notez le menu de 1 à 5 <i class="fa fa-star" style="color:gold;"></i> :</label>
                                <select id="rating" name="rating" class="form-control mb-2">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <input type="hidden" value="{{menu.id}}" name="menu_id">
                                <button type="submit" class="btn btn-dark text-white">Valider</button>
                            </form>
                        </div>
                    </div>
                    <div class="dropdown d-flex justify-content-center">
                        <button class="btn btn-warning py-1" style="max-width:75%;font-size:75%;" type="button" id="dropdownNoticeButton{{menu.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Voir&nbsp;les&nbsp;avis</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownNoticeButton{{menu.id}}">
                        {% set y = 0 %}
                        {% for comment in comments %}
                            {% if menu == comment.menu %}
                            {% set y = 1 %}
                                <div class="comment-group mb-2 text-center" style="background-color:lightblue;">
                                    <h6 style="font-size:70%;">Posté par <span style="color:#494646;">{{comment.author.fullName}}</span></h6>
                                    <p class="mb-0" style="font-size:80%;"><em>"{{comment.content}}"</em></p>
                                    {% set x = comment.rating %}
                                    <span class="badge badge-dark text-white">{{x}}/5 {% for i in 1..x %}<i class="fa fa-star" style="color:gold;"></i>{% endfor %}</span>
                                </div>                    
                            {% endif %}
                        {% endfor %} 
                            {% if y == 0 %}
                                <p class="text-center p-2 mb-0" style="color:indianred;font-size:75%;">Aucun avis n'est encore donné sur ce menu.<br>
                                 N'hésitez pas à en commander un<br> pour nous donner le vôtre !</p> 
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
