	
	
		<!-- HEADER -->
		
		<header class="container-fluid">
			
			<div class="row d-flex align-items-center p-3">
				
				<div class="col-4 text-right text-white">
					<p class="mb-0"><i class="fa fa-phone px-1"></i> 00-000-0000&nbsp; | <i class="fa fa-phone px-1"></i> 99-999-9999</p>
				</div>
				<div class="col-2 text-center text-white">
					<p id="mail-header" class="mb-0"><i class="fa fa-envelope-o"></i> email@email.fr</p>
				</div>
				<div id="bloc-liens-header" class="col-6 text-center text-white">
					<p class="text-white mb-0 text-center">
					{% if app.user %}
						<i class="fa fa-user"></i></i>&nbsp;<a href="{{path('account_profile')}}">Mon profil</a> |
						<i class="fa fa-shopping-basket"></i></i>&nbsp;<a href="{{path('order')}}">Mon panier repas</a> |
						<i class="fa fa-trash"></i>&nbsp;<a href="{{path('account_logout')}}">Se déconnecter</a>
					{% else %}
						<i class="fa fa-sign-in"></i>&nbsp;<a href="{{path('account_login')}}">Se connecter</a> | <i class="fa fa-file-text-o"></i>&nbsp;<a href="{{path('account_register')}}">S'inscrire</a>
					{% endif %}	
						  | 
						<label for="select-language"><i class="fa fa-language"></i></label>
						<select name="language" id="select-language">
							<option value="Fr">Fr</option>
							<option value>En</option>
						</select>
					</p>
				</div>
				
			</div>			
			
		</header>

				<!-- LOGO -->
		
		<section id="logo">
			
			<figure>
                <a href="{{path('homepage')}}">
				    <img src="img/logo.png" alt="" class="pt-3">
                </a>
			</figure>
			
		</section>
		
		<!-- MENU1 -->
		
		<section id="menu1">
			
			<nav class="py-3 text-center d-flex justify-content-center align-items-center">
			
				
					<a href="index.html">
						<div>
							<div id="trait1" class="ml-3"></div>
							<p class="px-3">Accueil</p>
							<div id="trait2"></div>
						</div>
					</a>
					<a href="">A propos</a>
					<a href="">Réservation</a>
					<a href="">Menu</a>
					<a href="">Galerie</a>
					<a href="">Blog</a>
					<a href="">Boutique</a>
					<a href="">Contact</a>
				
				<button type="button" data-toggle="modal" data-target="#exampleModal" id="boutonsearch"><i class="fa fa-search text-white"></i></button>
				<button type="button" data-toggle="modal" data-target="#exampleModal" id="boutonlignes"><i class="fa fa-align-justify text-white"></i></button>
				
			</nav>
			
		</section>
		